.home-main{
    display: inline-flex;
    width: 100%;
}

.signup-modal-header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:24px;
    border-bottom: 1px solid #cccccc;
}
.x-btn{
    border-radius: 20px;
    padding:8px;
    position: absolute;
    right:16px;
    top:16px;
}
.x-btn:hover{
    cursor: pointer;
    background-color: #eeeeee;
}
.signup-main{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color:whitesmoke;
    height: 100vh;
}
.SignUpOrLogin_modal__VDGVH {
    background-color: whitesmoke;
    height  : 100%;
}
.body-outer{
    min-width: 500px;
}
.Body_body__KI0OY {
    margin: 0 auto;
    align-items: center;
    margin-top:110px;
    width: 370px;
}
.TextPanel_className__J3J2W {
    text-align: center;
    word-break: break-word;
    margin-top: 0px;
    margin-bottom: 40px;
}
.TextPanel_className__J3J2W h1 {
    line-height: 1.54;
    font-size: 26px;
    font-weight: 600;
    color: #333;
}
.TextPanel_className__J3J2W h2 {
    margin-top: 16px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.InputPanel_wrapper__RXp1k {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.InputPanel_password__my_BO {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 0;
    padding: 0;
    height: 0;
    border: 1px solid transparent;
}
.InputPanel_wrapper__RXp1k .InputPanel_email__aEAmZ {
    padding-bottom: 14px;
}
.style_wrapper__6RiUK {
    position: relative;
    padding-bottom: 22px;
    color: #767676;
}
.style_label__BKYHB {
    font-size: 14px;
    font-weight: 400;
}
.style_body__A6XnO {
    margin-top: 11px;
    margin-right: 20px;
}
.style_body__A6XnO input[type=email], .style_body__A6XnO input[type=password], .style_body__A6XnO input[type=text] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    padding-left: 15px;
    margin-top: -8px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    box-shadow: none;
    outline: none;
    resize: none;
}
.style_guidance__FT8Qs {
    color: #767676;
}
.style_error__PioA9, .style_guidance__FT8Qs {
    bottom: 0;
    margin-top: 6px;
    font-size: 12px;
}
.style_wrapper__IgK7U {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 0;
    border-radius: 6px;
    background-color: #739BE7;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
.style_wrapper__IgK7U svg {
    margin-right: 10px;
}
.InputPanel_divider__WEgZ3:after {
    display: block;
    content: "or";
    color: #969696;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin: 13px auto;
    white-space: pre;
}
.InputPanel_socialLogins__j0wq7 {
    text-align: center;
    color: #767676;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 14px;
}
.InputPanel_socialWrapper__Dhaxo.isKR {
    width: 100%;
}
.InputPanel_socialWrapper__Dhaxo {
    width: calc(100% - 60px);
    height: 84px;
    margin: auto;
}
.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2.isKR {
    width: 25%;
}
.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2 {
    width: 33.33333333%;
    display: inline-block;
    position: relative;
}
.InputPanel_wrapper__RXp1k .social-login-button.kakao-login {
    background-color: #fee500;
}
.InputPanel_wrapper__RXp1k .social-login-button {
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    color: #737373;
    border-radius: 28px;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
.InputPanel_wrapper__RXp1k .social-login-button svg {
    margin-right: 0;
}
.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2 .InputPanel_socialTitle__77isU.isKR {
    
    width: 70%;
    left: 14.5%;
}
.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2 .InputPanel_socialTitle__77isU {
    position: absolute;
    width: 60%;
    top: 62px;
    left: 20%;
    font-size: 13px;
    font-weight: 500;
    color: #666;
    text-align: center;
}

.InputPanel_wrapper__RXp1k .social-login-button.facebook-login {
    background-color: #1877f2;
}
.InputPanel_wrapper__RXp1k .social-login-button {
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    color: #737373;
    border-radius: 28px;
}
.InputPanel_wrapper__RXp1k .social-login-button.google-login {
    border: 1px solid #e1e2e3;
    background-color: #fff;
}
.InputPanel_wrapper__RXp1k .social-login-button {
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    color: #737373;
    border-radius: 28px;
}
.InputPanel_wrapper__RXp1k .social-login-button.apple-login {
    background-color: #000;
}
.InputPanel_wrapper__RXp1k .social-login-button {
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    color: #737373;
    border-radius: 28px;
}
.style_wrapper__MbwMv {
    margin-top: -5px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    color: #999;
}
.advertisement-main{
    padding-top: 150px;
    width:100%;
}
.create-button{
    width: 100%;
    vertical-align: middle;
}
.loginlogo{
    min-width: 500px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.logoimg{
    margin-left: 4%;
    margin-top: 3%;
    width: 8%;
    max-width: 60px;
    cursor : pointer;
}
.univcertlogo{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 30%;
    max-width: 150px;
    cursor : pointer;
}
.create-button{
    cursor: pointer;
}
.button-container{
    vertical-align: bottom;
}