.button {
    color: #fff;
    text-align: center;
    background-color: #2e5689;
    border: none;
    border-radius: 999px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    font-family: SF Pro Display, Arial;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    display: flex;
  }
  