.frame-7 {
    color: #fff;
    background-color: #2e5689;
    border-radius: 4px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 24px;
    padding-left: 16px;
    font-family: SF Pro Display, Arial;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    display: flex;
  }
  