.frame-32-instance-1 {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
}

.frame-32 {
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.letter-frame{
  width: 19%;
  color: #262626;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
  margin-right: 0px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  display: flex;
}
@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.api-container{
  display: flex;
  margin-left: 0px;
  font-family: 'MonoplexKR-Regular';
}
.ap-is {
  margin-right: 10px;
  cursor: pointer;
}

.expand-more-1 {
  width: 26px;
  height: 26px;
}

.frame-31 {
  cursor : pointer;
  width: 110px;
  color: #fff;
  background-color: #2e568980;
  border: none;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;
  display: flex;
}
.api-button{
  cursor : pointer;
}
.login{
  cursor : pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 30px;
}

.api-container:hover .dropdown-content {
  display: block;
}