.slide1{
    width:1432px;
    margin: 0 auto;
}
.container{
    width: 100%;
    display : flex  !important;
}

.img-container{
    width: 100%;
    min-width: 900px;
}
.FrameImg{
    width: 80%;
    margin-left: 5%;
}

.frame-container{
    width: 284px;
    min-width: 200px;
    position: relative;
    margin-left: 5%;
}
.Frame{
    cursor : pointer;
    width: 80%;
    margin-top: 5px;
}
.reference{
    margin-left: 5%;
    margin-top: 20px;
    width: 30%;
}